*{margin:0px;padding:0px;list-style: none;text-decoration: none;font-family: sans-serif;}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    max-width: 1200px;
    width: 90%;
    margin:auto;
}

.item{
    border:1px solid #ccc;
    height: 200px;
    width: 200px;
    display: inline-flex;
    font-size: 40px;
    justify-content: center;
    align-items:center;
}